**Authors:** <font color=brown>Jozef Hanč & his students</font>  <br>
[Faculty of Science](https://www.upjs.sk/en/faculty-of-science/?prefferedLang=EN) *P.J. Šafárik University in Košice, Slovakia* <br> 
email: [jozef.hanc@upjs.sk](mailto:jozef.hanc@upjs.sk)  
**Document:** Data analysis for AIP publishing house  
**Date**: July 2022

# Scopus <font color =brown> author search </font> <br> via library `pybliometrics`

https://pypi.org/project/pybliometrics/

* Rose, Michael E. and John R. Kitchin: [pybliometrics: Scriptable bibliometrics using a Python interface to Scopus](https://github.com/pybliometrics-dev/pybliometrics/blob/master/meta/1-s2.0-S2352711019300573-main.pdf), SoftwareX 10 (2019) 100263.

## Python functions for Scopus

In [1]:
# Python functions using Pybliometrics
from PybliometricsScopus import *

## Example

In [2]:
# paper title
firstname = 'Marián'
lastname = 'Kireš'

In [3]:
ScopusAuthQuery(firstname, lastname, initial=True)

'AUTHLASTNAME("kires") AND AUTHFIRST(m)'

In [4]:
a = AuthorSearch(ScopusAuthQuery(firstname, lastname, initial=True))
len(a.authors)  # number of authors

1

In [5]:
short = a.authors[0]
show_colwidth(dattr(short,'parameters'))

                                                   value
attribute
affiliation     Pavol Jozef Safarik University in Kosice
affiliation_id                                  60031236
areas                    COMP (19); PHYS (18); SOCI (14)
city                                              Kosice
country                                         Slovakia
documents                                             28
eid                                   9-s2.0-23485508800
givenname                                         Marián
initials                                              M.
orcid                                0000-0003-3857-6382
surname                                            Kireš

In [6]:
author = AuthorRetrieval(short.eid)
show_colwidth(dattr(author,'parameters'))

                                                                                                                                                                       value
attribute
affiliation_current    [(112965765, 60031236, dept, author, None, Faculty of Science, Pavol Jozef Safarik University in Kosice, svk, Slovakia, Srobárova 2, Kosice, Kosic...
affiliation_history    [(112965765, 60031236, dept, author, None, Faculty of Science, Pavol Jozef Safarik University in Kosice, svk, Slovakia, Srobárova 2, Kosice, Kosic...
alias                                                                                                                                                                   None
citation_count                                                                                                                                                            46
cited_by_count                                                                                                                                                            46
classificationgroup                                         [(3100, 15), (1708, 4), (1706, 7), (2208, 2), (3103, 2), (3101, 1), (3304, 14), (1709, 1), (2214, 3), (1705, 7)]
coauthor_count                                                                                                                                                            30
coauthor_link                                                                                            http://api.elsevier.com/content/search/author?co-author=23485508800
date_created                                                                                                                                                   (2008, 2, 21)
document_count                                                                                                                                                            28
eid                                                                                                                                                       9-s2.0-23485508800
given_name                                                                                                                                                            Marián
h_index                                                                                                                                                                    3
historical_identifier                                                                                                                             [54904279900, 57193381341]
identifier                                                                                                                                                       23485508800
indexed_name                                                                                                                                                        Kireš M.
initials                                                                                                                                                                  M.
name_variants          [(Kireš M., M., Kireš, M., 5), (Marián K., K., Marián, Kireš, 1), (Kires M., M., Kires, Marián, 2), (Kireš M., M., Kireš, Mariań, 1), (Kires M., M...
orcid                                                                                                                                                    0000-0003-3857-6382
publication_range                                                                                                                                               (2003, 2022)
scopus_author_link                                                                                              http://api.elsevier.com/content/author/author_id/23485508800
search_link                                                                                       http://api.elsevier.com/content/search/scopus?query=au-id%2823485508800%29
self_link                                                                     https://www.scopus.com/authid/detail.uri?partnerID=HzOxMe3b&authorId=23485508800&origin=inward
status                                                                                                                                                                update
subject_areas          [(Physics and Astronomy (all), PHYS, 3100), (Hardware and Architecture, COMP, 1708), (Computer Science Applications, COMP, 1706), (Electrical and ...
surname                                                                                                                                                                Kireš
url                                                                                                             http://api.elsevier.com/content/author/author_id/23485508800

In [7]:
DF(ScopusDataLong(short, author),colname='scopus')

                                               scopus
scopus-id                                 23485508800
first name                                     Marián
last name                                       Kireš
full name                                Marián Kireš
affiliation  Pavol Jozef Safarik University in Kosice
location                             Kosice, Slovakia
areas                 COMP (19); PHYS (18); SOCI (14)
documents                                          28
citations                                          46
h-index                                             3

# Scopus for conference

## parameters

In [8]:
# conference = 'DIDSCI+2022'
# da = pd.read_excel('../'+conference+'.xlsx', sheet_name='authors', index_col=0)

In [9]:
da

            full name    last name first name     ascii name
0     Miroslav Almáši       Almáši   Miroslav       m almasi
1   Mária Babinčáková  Babinčáková      Mária  m babincakova
2      Anna Baprowska    Baprowska       Anna    a baprowska
3         Pavel Beneš        Beneš      Pavel        p benes
4       Pawel Bernard      Bernard      Pawel      p bernard
..                ...          ...        ...            ...
93    Ľubomír Šnajder      Šnajder    Ľubomír      l snajder
94      Martin Šrámek       Šrámek     Martin       m sramek
95      Alena Šrámová      Šrámová      Alena      a sramova
96     Jitka Štrofová     Štrofová      Jitka     j strofova
97       Martin Žáček        Žáček     Martin        m zacek

[98 rows x 4 columns]

## basic search

In [10]:
cols = ['scopus-id', 'first name', 'last name', 'full name', 
        'affiliation', 'location', 'areas', 'documents', 'citations', 'h-index','multiplicity']
ds = pd.DataFrame(columns = cols)

In [11]:
# storage for results
dfs = dict()

In [12]:
# finding scopus data for all authors
morentries = dict()
notfound = []

for idx, row in da.iterrows():
    # choose first initial and last name
    lastname = clean_str(row['last name'], case='lower', unicode=False)
    firstname = clean_str(row['first name'], case='lower', unicode=False)
    try:
        # find an author in Scopus
        a = AuthorSearch(ScopusAuthQuery(firstname, lastname))
        multiplicity = len(a.authors)
        print(f'{idx}, m={multiplicity}, {ScopusAuthQuery(firstname, lastname)}')
        if len(a.authors) > 5:
            morentries[idx] = multiplicity
        else:
            # writing all authors data into ds
            for auth in a.authors:
                short = auth
                author = AuthorRetrieval(short.eid)
                data = ScopusDataLong(short, author)
                data['multiplicity'] = len(a.authors)
                ds = ds.append(data, ignore_index=True)
    except TypeError:
        notfound+=[idx]
        print(f'{idx}, not found, {ScopusAuthQuery(firstname, lastname)}')

0, m=1, AUTHLASTNAME("almasi") AND AUTHFIRST(miroslav)
1, m=1, AUTHLASTNAME("babincakova") AND AUTHFIRST(maria)
2, not found, AUTHLASTNAME("baprowska") AND AUTHFIRST(anna)
3, m=6, AUTHLASTNAME("benes") AND AUTHFIRST(pavel)
4, m=1, AUTHLASTNAME("bernard") AND AUTHFIRST(pawel)
5, m=1, AUTHLASTNAME("berta") AND AUTHFIRST(tunde)
6, m=3, AUTHLASTNAME("bilek") AND AUTHFIRST(martin)
7, not found, AUTHLASTNAME("borovsky") AND AUTHFIRST(dominik)
8, m=1, AUTHLASTNAME("brestenska") AND AUTHFIRST(beata)
9, m=1, AUTHLASTNAME("bros") AND AUTHFIRST(pawel)
10, m=2, AUTHLASTNAME("burcak") AND AUTHFIRST(m)
11, not found, AUTHLASTNAME("chlebounova") AND AUTHFIRST(irena)
12, m=1, AUTHLASTNAME("chomca") AND AUTHFIRST(i)
13, m=2, AUTHLASTNAME("chroustova") AND AUTHFIRST(katerina)
14, not found, AUTHLASTNAME("coufalova") AND AUTHFIRST(stepanka)
15, m=3, AUTHLASTNAME("danielovic") AND AUTHFIRST(i)
16, not found, AUTHLASTNAME("dinajova") AND AUTHFIRST(j)
17, m=1, AUTHLASTNAME("fancovicova") AND AUTHFIRST(jana)
18, m=8, AUTHLASTNAME("feher") AND AUTHFIRST(zoltan)
19, not found, AUTHLASTNAME("feltl") AND AUTHFIRST(tomas)
20, m=60, AUTHLASTNAME("fuchs") AND AUTHFIRST(michael)
21, m=1, AUTHLASTNAME("ganajova") AND AUTHFIRST(maria)
22, not found, AUTHLASTNAME("gorskis") AND AUTHFIRST(mihails)
23, m=1, AUTHLASTNAME("gunis") AND AUTHFIRST(jan)
24, m=2, AUTHLASTNAME("hamulakova") AND AUTHFIRST(s)
25, m=1, AUTHLASTNAME("hanc") AND AUTHFIRST(jozef)
26, m=1, AUTHLASTNAME("held") AND AUTHFIRST(lubomir)
27, m=2, AUTHLASTNAME("hon") AND AUTHFIRST(zdenek)
28, not found, AUTHLASTNAME("horniakova") AND AUTHFIRST(michaela)
29, m=6, AUTHLASTNAME("hrdlicka") AND AUTHFIRST(jan)
30, not found, AUTHLASTNAME("jaruska") AND AUTHFIRST(ladislav)
31, m=1, AUTHLASTNAME("jeskova") AND AUTHFIRST(zuzana)
32, not found, AUTHLASTNAME("juhasova") AND AUTHFIRST(antonia)
33, m=2, AUTHLASTNAME("jac") AND AUTHFIRST(martin)
34, m=2, AUTHLASTNAME("karolcik") AND AUTHFIRST(stefan)
35, m=1, AUTHLASTNAME("kires") AND AUTHFIRST(marian)
36, not found, AUTHLASTNAME("kohutiarova") AND AUTHFIRST(viktoria)
37, m=1, AUTHLASTNAME("kolarovic") AND AUTHFIRST(andrej)
38, m=4, AUTHLASTNAME("konecna") AND AUTHFIRST(petra)
39, not found, AUTHLASTNAME("konopa") AND AUTHFIRST(matyas)
40, not found, AUTHLASTNAME("konicek") AND AUTHFIRST(libor)
41, m=1, AUTHLASTNAME("koperova") AND AUTHFIRST(dominika)
42, m=1, AUTHLASTNAME("kotulakova") AND AUTHFIRST(katarina)
43, not found, AUTHLASTNAME("kozakova") AND AUTHFIRST(patricia)
44, m=1, AUTHLASTNAME("kozelkova") AND AUTHFIRST(katarina)
45, not found, AUTHLASTNAME("kricfalusi") AND AUTHFIRST(dana)
46, not found, AUTHLASTNAME("krizanova") AND AUTHFIRST(milica)
47, m=1, AUTHLASTNAME("kuckova") AND AUTHFIRST(stepanka)
48, m=1, AUTHLASTNAME("kvet") AND AUTHFIRST(marek)
49, not found, AUTHLASTNAME("krapacek") AND AUTHFIRST(richard)
50, m=3, AUTHLASTNAME("leskova") AND AUTHFIRST(andrea)
51, m=1, AUTHLASTNAME("lukac") AND AUTHFIRST(stanislav)
52, m=2, AUTHLASTNAME("macekova") AND AUTHFIRST(denisa)
53, m=1, AUTHLASTNAME("machkova") AND AUTHFIRST(veronika)
54, not found, AUTHLASTNAME("majzelova") AND AUTHFIRST(lea)
55, not found, AUTHLASTNAME("marcinov") AND AUTHFIRST(p)
56, m=2, AUTHLASTNAME("marsalek") AND AUTHFIRST(roman)
57, m=1, AUTHLASTNAME("melicharova") AND AUTHFIRST(michaela)
58, m=1, AUTHLASTNAME("misianikova") AND AUTHFIRST(anna)
59, not found, AUTHLASTNAME("mrakota") AND AUTHFIRST(vit)
60, m=1, AUTHLASTNAME("mika") AND AUTHFIRST(ludek)
61, not found, AUTHLASTNAME("nodzynska-moron") AND AUTHFIRST(malgorzata)
62, m=2, AUTHLASTNAME("orinakova") AND AUTHFIRST(r)
63, m=1, AUTHLASTNAME("orolinova") AND AUTHFIRST(maria)
64, not found, AUTHLASTNAME("pisova") AND AUTHFIRST(marketa)
65, m=1, AUTHLASTNAME("rendosova") AND AUTHFIRST(m)
66, m=1, AUTHLASTNAME("richtr") AND AUTHFIRST(vaclav)
67, m=1, AUTHLASTNAME("rusek") AND AUTHFIRST(martin)
68, not found, AUTHLASTNAME("sirotek") AND AUTHFIRST(vladimir)
69, m=2, AUTHLASTNAME("skrehot") AND AUTHFIRST(petr)
70, not found, AUTHLASTNAME("sleiman-sakhnini") AND AUTHFIRST(sohair)
71, m=2, AUTHLASTNAME("smolka") AND AUTHFIRST(pavel)
72, m=1, AUTHLASTNAME("sotakova") AND AUTHFIRST(ivana)
73, not found, AUTHLASTNAME("svitakova") AND AUTHFIRST(johana)
74, m=1, AUTHLASTNAME("szarka") AND AUTHFIRST(katarina)
75, m=1, AUTHLASTNAME("tepla") AND AUTHFIRST(milada)
76, m=1, AUTHLASTNAME("tkacova") AND AUTHFIRST(zuzana)
77, not found, AUTHLASTNAME("tlaskalova") AND AUTHFIRST(katerina)
78, not found, AUTHLASTNAME("trckova") AND AUTHFIRST(katerina)
79, m=2, AUTHLASTNAME("vargova") AND AUTHFIRST(zuzana)
80, not found, AUTHLASTNAME("vlckova") AND AUTHFIRST(tereza)
81, m=1, AUTHLASTNAME("vaclavkova") AND AUTHFIRST(monika)
82, m=1, AUTHLASTNAME("vaclavikova") AND AUTHFIRST(zuzana)
83, m=1, AUTHLASTNAME("viglasky") AND AUTHFIRST(v)
84, not found, AUTHLASTNAME("zaicenko") AND AUTHFIRST(andrejs)
85, m=1, AUTHLASTNAME("arki") AND AUTHFIRST(zuzana)
86, m=1, AUTHLASTNAME("cipkova") AND AUTHFIRST(elena)
87, m=1, AUTHLASTNAME("ctrnactova") AND AUTHFIRST(hana)
88, m=2, AUTHLASTNAME("sandrejova") AND AUTHFIRST(j)
89, not found, AUTHLASTNAME("sarboch") AND AUTHFIRST(david)
90, m=1, AUTHLASTNAME("skodova") AND AUTHFIRST(martina)
91, m=6, AUTHLASTNAME("smejkal") AND AUTHFIRST(petr)
92, m=1, AUTHLASTNAME("smida") AND AUTHFIRST(dominik)
93, m=1, AUTHLASTNAME("snajder") AND AUTHFIRST(lubomir)
94, m=7, AUTHLASTNAME("sramek") AND AUTHFIRST(martin)
95, not found, AUTHLASTNAME("sramova") AND AUTHFIRST(alena)
96, m=1, AUTHLASTNAME("strofova") AND AUTHFIRST(jitka)
97, m=5, AUTHLASTNAME("zacek") AND AUTHFIRST(martin)

In [13]:
ds = ds.sort_values(by=['multiplicity','last name'])
ds

,scopus-id,first name,last name,full name,affiliation,location,areas,documents,citations,h-index,multiplicity
0,55387563000,Miroslav,Almáši,Miroslav Almáši,Pavol Jozef Safarik University in Kosice,"Kosice, Slovakia",CHEM (49); MATE (20); PHYS (18),50,439,17,1
73,57103742800,Zuzanna,Arki,Zuzanna Arki,Selye János University,"Komarom, Slovakia",SOCI (2),2,1,1,1
1,57214936653,Mária,Babinčáková,Mária Babinčáková,Pavol Jozef Safarik University in Kosice,"Kosice, Slovakia",SOCI (6); COMP (3); CHEM (3),6,43,3,1
2,55711540500,Paweł,Bernard,Paweł Bernard,Uniwersytet Jagielloński,"Krakow, Poland",CHEM (14); SOCI (13); CENG (2),18,105,6,1
3,55386813800,Tünde,Berta,Tünde Berta,Selye János University,"Komarom, Slovakia",MATH (2); SOCI (1); COMP (1),2,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...
86,57126034000,Martin,Zacek,Martin Zacek,Ceské vysoké ucení technické v Praze,"Prague, Czech Republic",ENGI (2); PHYS (2),1,3,1,5
82,55835862200,Martin,Žáček,Martin Žáček,Division University of Ostrava,"Ostrava, Czech Republic",COMP (27); PHYS (24); MATH (10),49,70,6,5
83,54895378900,Martin,Žáček,Martin Žáček,Academy of Sciences of the Czech Republic,"Prague, Czech Republic",MATE (7); ENGI (4); PHYS (3),6,25,3,5
84,56901949400,Martin,Žáček,Martin Žáček,Institute of Hydrodynamics of the Academy of S...,"Prague, Czech Republic",BIOC (2); MEDI (1),3,2,1,5
85,57604758400,Martin,Žáček,Martin Žáček,Institute of Hydrodynamics of the Academy of S...,"Prague, Czech Republic",MEDI (1),1,44,1,5

In [14]:
ds['query'] = [ScopusAuthQuery(firstname, lastname) for firstname, lastname in ds[['first name','last name']].values]

In [15]:
dfs['found - full name'] = ds

## mutliplicity > 5

In [16]:
dv = da.loc[morentries]
dv['multiplicity'] = [morentries[idx] for idx in dv.index]
dv['query'] = [ScopusAuthQuery(firstname, lastname) for firstname, lastname in dv[['first name','last name']].values]
dv

,full name,last name,first name,ascii name,multiplicity,query
3,Pavel Beneš,Beneš,Pavel,p benes,6,"AUTHLASTNAME(""benes"") AND AUTHFIRST(pavel)"
18,Zoltán Fehér,Fehér,Zoltán,z feher,8,"AUTHLASTNAME(""feher"") AND AUTHFIRST(zoltan)"
20,Michael Fuchs,Fuchs,Michael,m fuchs,60,"AUTHLASTNAME(""fuchs"") AND AUTHFIRST(michael)"
29,Jan Hrdlička,Hrdlička,Jan,j hrdlicka,6,"AUTHLASTNAME(""hrdlicka"") AND AUTHFIRST(jan)"
91,Petr Šmejkal,Šmejkal,Petr,p smejkal,6,"AUTHLASTNAME(""smejkal"") AND AUTHFIRST(petr)"
94,Martin Šrámek,Šrámek,Martin,m sramek,7,"AUTHLASTNAME(""sramek"") AND AUTHFIRST(martin)"

In [17]:
dfs['multiplicity > 5'] = dv

## not found

In [18]:
dn = da.loc[notfound]
dns = pd.DataFrame(columns = cols)

In [19]:
# less restrictive searching
moreinicials = dict()
manually = []
for idx, row in dn.iterrows():
    # choose first initial and last name
    lastname = clean_str(row['last name'], case='lower', unicode=False)
    firstname = clean_str(row['first name'], case='lower', unicode=False)
    # find in Scopus
    try:
        query = ScopusAuthQuery(firstname, lastname, initial=True)
        a = AuthorSearch(query)
        multiplicity = len(a.authors)
        print(f'{idx}, m={multiplicity}, {query}')
        if len(a.authors) > 5:
            moreinicials[idx] = multiplicity
        else:
            for auth in a.authors:
                short = auth
                author = AuthorRetrieval(short.eid)
                data = ScopusDataLong(short, author)
                data['multiplicity'] = multiplicity
                dns = dns.append(data, ignore_index=True)
    except TypeError:
        manually +=[idx]
        print(f'{idx}, not found, {query}')

2, not found, AUTHLASTNAME("baprowska") AND AUTHFIRST(a)
7, m=8, AUTHLASTNAME("borovsky") AND AUTHFIRST(d)
11, not found, AUTHLASTNAME("chlebounova") AND AUTHFIRST(i)
14, m=3, AUTHLASTNAME("coufalova") AND AUTHFIRST(s)
16, not found, AUTHLASTNAME("dinajova") AND AUTHFIRST(j)
19, m=1, AUTHLASTNAME("feltl") AND AUTHFIRST(t)
22, not found, AUTHLASTNAME("gorskis") AND AUTHFIRST(m)
28, m=1, AUTHLASTNAME("horniakova") AND AUTHFIRST(m)
30, not found, AUTHLASTNAME("jaruska") AND AUTHFIRST(l)
32, m=3, AUTHLASTNAME("juhasova") AND AUTHFIRST(a)
36, not found, AUTHLASTNAME("kohutiarova") AND AUTHFIRST(v)
39, m=2, AUTHLASTNAME("konopa") AND AUTHFIRST(m)
40, m=4, AUTHLASTNAME("konicek") AND AUTHFIRST(l)
43, m=4, AUTHLASTNAME("kozakova") AND AUTHFIRST(p)
45, not found, AUTHLASTNAME("kricfalusi") AND AUTHFIRST(d)
46, m=3, AUTHLASTNAME("krizanova") AND AUTHFIRST(m)
49, not found, AUTHLASTNAME("krapacek") AND AUTHFIRST(r)
54, not found, AUTHLASTNAME("majzelova") AND AUTHFIRST(l)
55, not found, AUTHLASTNAME("marcinov") AND AUTHFIRST(p)
59, not found, AUTHLASTNAME("mrakota") AND AUTHFIRST(v)
61, not found, AUTHLASTNAME("nodzynska-moron") AND AUTHFIRST(m)
64, m=6, AUTHLASTNAME("pisova") AND AUTHFIRST(m)
68, not found, AUTHLASTNAME("sirotek") AND AUTHFIRST(v)
70, not found, AUTHLASTNAME("sleiman-sakhnini") AND AUTHFIRST(s)
73, m=3, AUTHLASTNAME("svitakova") AND AUTHFIRST(j)
77, not found, AUTHLASTNAME("tlaskalova") AND AUTHFIRST(k)
78, m=1, AUTHLASTNAME("trckova") AND AUTHFIRST(k)
80, m=2, AUTHLASTNAME("vlckova") AND AUTHFIRST(t)
84, m=1, AUTHLASTNAME("zaicenko") AND AUTHFIRST(a)
89, not found, AUTHLASTNAME("sarboch") AND AUTHFIRST(d)
95, not found, AUTHLASTNAME("sramova") AND AUTHFIRST(a)

In [20]:
# found via initials
dns

,scopus-id,first name,last name,full name,affiliation,location,areas,documents,citations,h-index,multiplicity
0,35169050700,Stanislava,Coufalová,Stanislava Coufalová,None,"None, None",BIOC (3),2,2,1,3
1,6507642349,S.,Coufalová,S. Coufalová,None,"None, None",MEDI (1),1,0,0,3
2,55296784200,S.,Coufalova,S. Coufalova,Masarykova Univerzita,"Brno, Czech Republic",MEDI (1),1,0,0,3
3,6505992185,T.,Feltl,T. Feltl,"University of Chemistry and Technology, Prague","Prague, Czech Republic",AGRI (1); BIOC (1),2,40,2,1
4,6603388883,M.,Horniaková,M. Horniaková,Ustav patologickej anatómie LF UK a FN,"Bratislava, Slovakia",MEDI (9),9,0,0,1
5,36241546900,Ana,Juhásová,Ana Juhásová,BIREGAL S.r.o.,"Bratislava, Slovakia",COMP (18); SOCI (6); MATH (1),7,26,3,3
6,56416527300,Anna,Juhásová,Anna Juhásová,Univerzita Komenského v Bratislave,"Bratislava, Slovakia",BIOC (10); CHEM (4); PHAR (2),5,12,2,3
7,57192660823,Andrea,Juhásová,Andrea Juhásová,Constantine the Philosopher University,"Nitra, Slovakia",SOCI (1),1,0,0,3
8,57219601485,Michal,Konopa,Michal Konopa,Jihoceská Univerzita v Ceských Budejovicích,"České Budějovice, Czech Republic",DECI (3); COMP (3); ARTS (1),2,3,1,2
9,57204022884,Maciej,Konopa,Maciej Konopa,Laboratorium Badan Napedow Lotniczych,"Zielonka, Poland",ENGI (1),1,4,1,2
10,6507587943,L.,Konicek,L. Konicek,National Research Council Canada,"Ottawa ON,, Canada",ENGI (6); ENER (2); CENG (2),5,703,3,4
11,6507587942,L. R.,Konicek,L. R. Konicek,University of Minnesota Twin Cities,"Minneapolis, United States",PHYS (4); ENGI (1),3,10,2,4
12,36548259400,L.,Konicek,L. Konicek,Ostravská Univerzita v Ostrave,"Ostrava, Czech Republic",PHYS (2); SOCI (1); COMP (1),2,5,2,4
13,6507587941,L.,Konicek,L. Konicek,None,"None, None",ENGI (1),1,1,1,4
14,57199679627,Petra,Kozáková,Petra Kozáková,Univerzita Komenského v Bratislave,"Bratislava, Slovakia",EART (3); CHEM (1),3,11,2,4
15,55601055400,Petra,Kozáková,Petra Kozáková,Vysoká škola ekonomická v Praze,"Prague, Czech Republic",BUSI (3); AGRI (2); ECON (1),3,4,2,4
16,57219241704,Pavlína,Kozáková,Pavlína Kozáková,VSB – Technical University of Ostrava,"Ostrava, Czech Republic",SOCI (1); ECON (1),1,1,1,4
17,35125583900,P. E.,Kozakova,P. E. Kozakova,None,"None, None",MEDI (1),1,0,0,4
18,36190918600,M.,Križanová,M. Križanová,KTLFaR FN,"Bratislava, Slovakia",HEAL (1); MEDI (1),1,1,1,3
19,34974341800,M.,Krizanová,M. Krizanová,Universitat Wien,"Vienna, Austria",(),1,1,1,3
20,16526005000,M.,Križanová,M. Križanová,Pontificia Universidade Catolica do Rio de Jan...,"Rio de Janeiro, Brazil",BIOC (1); CHEM (1),1,7,1,3
21,57224912725,Jiřina Bělehradová,Svitáková,Jiřina Bělehradová Svitáková,Masarykova Univerzita,"Brno, Czech Republic",COMP (2); ENGI (2); PHAR (1),1,0,0,3
22,57221441127,Jiřina,Bělehradová Svitáková,Jiřina Bělehradová Svitáková,Masaryk University,"Brno, Czech Republic",COMP (1); SOCI (1),1,2,1,3
23,54419163000,Jiřina,Svitáková,Jiřina Svitáková,Czech University of Life Sciences Prague,"Prague, Czech Republic",ECON (1); AGRI (1),1,6,1,3
24,23020153100,K.,Trčková,K. Trčková,Mendelova univerzita v Brne,"Brno, Czech Republic",AGRI (2),1,2,1,1
25,6506407181,Marija T.,V'lčkova-Laskoska,Marija T. V'lčkova-Laskoska,SS Cyril and Methodius University,"Skopje, North Macedonia",MEDI (15); BIOC (2),14,138,6,2
26,8936076300,Tamara,Jille-Vlčková,Tamara Jille-Vlčková,Leiden University Medical Center - LUMC,"Leiden, Netherlands",BIOC (6),1,21,1,2
27,57210786696,Anastasija,Zaičenko,Anastasija Zaičenko,Riga Stradins University,"Riga, Latvia",MEDI (6),3,3,1,1

In [21]:
dfs['found - inicial'] = dns

In [22]:
dvi = da.loc[moreinicials]
dvi

           full name last name first name  ascii name
7   Dominik Borovský  Borovský    Dominik  d borovsky
64    Markéta Píšová    Píšová    Markéta    m pisova

In [23]:
dfs['initials > 5'] = dvi

## not found via initials

In [24]:
dm = da.loc[manually]
dm

,full name,last name,first name,ascii name
2,Anna Baprowska,Baprowska,Anna,a baprowska
11,Irena Chlebounová,Chlebounová,Irena,i chlebounova
16,J Dinajová,Dinajová,J,j dinajova
22,Mihails Gorskis,Gorskis,Mihails,m gorskis
30,Ladislav Jaruska,Jaruska,Ladislav,l jaruska
36,Viktória Kohutiarová,Kohutiarová,Viktória,v kohutiarova
45,Dana Kričfaluši,Kričfaluši,Dana,d kricfalusi
49,Richard Křapáček,Křapáček,Richard,r krapacek
54,Lea Majzelová,Majzelová,Lea,l majzelova
55,P Marcinov,Marcinov,P,p marcinov
59,Vít Mrákota,Mrákota,Vít,v mrakota
61,Małgorzata Nodzyńska-Moroń,Nodzyńska-Moroń,Małgorzata,m nodzynska-moron
68,Vladimir Sirotek,Sirotek,Vladimir,v sirotek
70,Sohair Sleiman-Sakhnini,Sleiman-Sakhnini,Sohair,s sleiman-sakhnini
77,Kateřina Tláskalová,Tláskalová,Kateřina,k tlaskalova
89,David Šarboch,Šarboch,David,d sarboch
95,Alena Šrámová,Šrámová,Alena,a sramova

In [25]:
dfs['manually'] = dm

# Saving

In [26]:
sheetnames = list(dfs.keys())
dataframes = list(dfs.values())

In [27]:
save_xls(dataframes, '../'+conference+'-scopus-AuthorSearch.xlsx', sheetnames)